
<!DOCTYPE html>
<html lang="en" ng-app="JusticeLeague">
<head>
  <meta charset="utf-8"/>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "styles" %>
</head>
<body ng-controller="LeagueCtrl" ng-cloak>
  <div class="row-fluid">
    <div class="span6 offset3">
      <h1>The Justice League Roster</h1>
    </div>
  </div>
  <div class="row-fluid spacer-row"></div>

  <div class="row-fluid">
    <div class="span6 offset3">
      <h1 class="muted" ng-show="noMembers()">No heroes! Someone call Iron Man!</h1>
      <ul class="members-list">
        <li ng-repeat="m in members" ng-click="removeHero(m.url)" class="muted">{{ m.name }}
          <br/><br/>
          <span class="hero-meta"><strong>Secret Identity:</strong> {{m.secret_identity}}</span>
          <span class="hero-meta"><strong>Known Abilities:</strong> {{ listAbilities(m) }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="row-fluid spacer-row"></div>

  <div class="row-fluid">
    <div class="span3 offset3">
      <form ng-submit="saveHero()">
        <legend>Add New Member</legend>
        <input class="member-name" type="text" placeholder="Hero Name" ng-model="new_member_name" />
        <br/>

        <input class="member-name" type="text" placeholder="Secret Identity" ng-model="new_member_secret_identity" />
        <br/>        

        <div class="input-append">
          <input type="text" placeholder="Ability" ng-model="new_member_ability" />
          <span class="add-on" ng-click="addAbility()">Add</span>
        </div>
        <br/>

        <ul id="member-abilities">
          <li class="muted" ng-repeat="a in new_member_abilities" ng-click="removeAbility(a)">
            {{a}}
          </li>         
        </ul>

        <button class="btn btn-success" type="submit" id="submit" value="Submit">Go!</button>
      </form>      
    </div>
    <div class="span6">
      <img src="http://25.media.tumblr.com/tumblr_m6gqx1ZSyo1r2qbw5o9_r1_500.gif" />
    </div>
  </div>

<%= javascript_include_tag "bootstrap" %>
<%= javascript_include_tag "angularjs-1.0.7.min" %>
<%= javascript_include_tag "app" %>
</body>
</html>